@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 10px solid black;
  gap: 10px;
  /*   align-items: center;
  justify-items: center; */
  justify-content: space-between;
}
.css4 {
  align-self: end;
}
